@forward "./scss/colors";
@forward "./scss/reset.scss";
@forward "./scss/boilerplate.scss";
@forward "./scss/function.scss";
@use "./scss/colors.scss" as *;

@font-face {
  font-family: ProductSans;
  src: url("../fonts/Product\ Sans\ Regular.ttf");
}

body,
button,
input {
  font-family: "ProductSans";
}
body {
  background-image: $blue-gradient;
}
