@use "../styles/globals.scss" as *;
.login_content {
  display: grid;
  place-items: center;

  .title {
    text-align: center;
    margin: 5rem 0;
    color: $blue-100;
  }
  .login {
    border: 8px solid $box-border-color;
    padding: 1rem 3rem;
    border-radius: 50px;
    background-color: $box-color;

    .btn {
      display: flex;
      justify-content: center;
    }
  }
  .error {
    color: rgb(216, 6, 6);
    font-weight: 600;
  }
}
