@use "../styles/globals.scss" as *;
.input_content {
  margin-top: 0.5rem;

  .label {
    font-size: 16px;
    display: block;
    margin-bottom: 0.5rem;
    color: $primary-blue;
  }

  .input {
    border-radius: 8px;
    border-style: none;
    outline: none;
    width: rem(320);
    height: rem(40);
    font-size: 1em;
    background-color: white;
    box-sizing: border-box;

    &:focus {
      border: 4px solid $box-color;
    }
  }
  .error {
    color: rgb(216, 6, 6);
  }
}
