@use "../styles/globals.scss" as *;

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
  height: 78px;
  background-color: $box-white-color;
  margin-bottom: 3rem;

  .link {
    text-decoration: none;
  }
  .name {
    color: $primary-blue;
    transition: font-size 0.3s ease-in-out;
    cursor: pointer;
    text-decoration: none;
  }
  .name:hover {
    font-size: 2rem;
    color: $blue-500;
  }
  .links {
    padding: 1rem;
    gap: 2rem;

    .logout {
      padding: 1rem;
      color: $primary-blue;
      font-size: 24px;
      text-decoration: none;
    }
  }
  .logout {
    padding: 1rem;
    color: $primary-blue;
    font-size: 24px;
    text-decoration: none;
  }
}
