@use "../styles/globals.scss" as *;

.input_content {
  margin-top: 0.6rem;
  .label_name {
    // margin-right: 15rem;
    font-size: 18px;
    display: block;
    margin-bottom: 0.5rem;
    color: $primary-blue;
  }
  .label_input {
    display: inline-block;
    border-radius: 8px;
    border-style: none;
    width: 100%;
    height: rem(40);
    font-size: 1.5em;
    background-image: url("../assets/CameraOutline.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-color: white;
  }
  .inputfile {
    opacity: 0;
  }
  .error {
    color: rgb(177, 4, 4);
    font-weight: 600;
  }
}
