@use "./styles/globals.scss" as *;

main {
  height: 130vh;
  
}
.main_content {
  margin: 0 15rem;
  height: 110vh;
}
.navbar {
  width: 100%;
  margin: 0;
}

.main_container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
