$primary-blue: #146c94;
$blue-500: #19a7ce;
$blue-300: #afd3e2;
$blue-100: #f6f1f1;
$blue-gradient: radial-gradient(
  128.71% 229.06% at -11.94% 125.83%,
  #f6f1f1 14.71%,
  #19a7ce 76.09%
);

$box-color: rgba(175, 211, 226, 0.7);
$box-border-color: rgba(246, 241, 241, 0.4);
$box-white-color: rgba(246, 241, 241, 0.8);
